/* You can add global styles to this file, and also import other style files */

.centered-panel
{
  margin: 10% auto 0 auto;
  max-width: 700px;
  min-width: 200px;
  width: 50%;
}

.input-full
{
	width: 100%;
}

.btns-panel{
	margin-top: 20px;
}

.remember-me {
	margin-top: 10px;
}
a, u {
	text-decoration: none;
}

.forgot_pwd_lnk{
	font-size: 12px;
}

.centered-txt {
	text-align: center;
}

#home-card {
	max-width: 1400px;
	margin: 10px auto auto auto;
	min-width: 600px;
	min-height: calc(690px * (90/150));
	/*height: 80vh;
	width: 150vh;*/	
}

#welcome-div {
	margin-top: 10px;
	margin-left: 5px;
}

#home-panel {
	padding: 0px;
	margin-top: 20px;
}

#home-inner-card{
	width: 70%
}

/*#main-panel {
	height: 50vh;
}*/

#logout {
	font-style: italic;
}