<md-card id="home-card" class="ui-g">
	<p-menubar [model]="items"></p-menubar>
	<div id="welcome-div">
		<span>Welcome to ScheduleSys, {{profile.sub}} ! <a routerLink=""  (click)="logout()">logout</a></span>
	</div>
	<div id="home-panel">
		<div class="ui-g-2">
			<md-card class="hand-hover">
				<div class="centered-txt">
					<span class="fa fa-user-circle fa-2x"></span>
				</div>
				<div class="centered-txt">
					<a routerLink="profile">{{profile.sub}}</a>
				</div>
			</md-card>
		</div>
		<div class="ui-g-10">
			<md-card>
				<div id="main-panel">
					<router-outlet></router-outlet>
				</div>
			</md-card>
		</div>
	</div>
</md-card>